main {
    justify-content:flex-start;
  }

  #logOutButton {
    margin-bottom: 10px;
  }

  #resetCodeButton {
    margin-bottom: 5px;
  }

  #deleteAccountButton {
  background: rgb(185, 0, 0);
  margin-top: 5px;
}

#deleteAccountButton:hover {
  background: rgb(235, 0, 0);
}

#deletionConfirmationDiv {
    color: rgb(185, 0, 0);
    font-weight: bold;
    margin-top: 5px;
}