main {
    justify-content:flex-start;
  }

  #logOutButton {
    margin-bottom: 10px;
  }

  #deleteAccountButton {
  border: none;
  background: rgb(185, 0, 0);
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: background 0.3s;
}

#deleteAccountButton:hover {
  background: rgb(235, 0, 0);
}

#deletionConfirmationDiv {
    color: rgb(185, 0, 0);
    font-weight: bold;
    margin-top: 5px;
}