:root {
  --sidebar-width: clamp(100px, 33vw, 300px);
  --sidebar-bg-color: rgba(0, 0, 0, 0.521);
  --sidebar-bg-color-mobile: rgba(0, 0, 0, 0.849);
}

.container {
  display: flex;
  flex-direction: row;
  flex: 1;
}

*,
*::after:not(.customCheckbox),
*::before:not(.customCheckbox) {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  padding-bottom: 0.25rem;
  overflow-x: hidden;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  min-height: 100vh;
  font-family: sans-serif;
  margin: 0;
}

main {
  padding: 0 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 1;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--sidebar-width);
  height: 100%;
  background-color: var(--sidebar-bg-color);
  z-index: 1; /* Posiziono la sidebar sopra il resto */
  transition: transform 0.3s ease; /* Transizione quando viene modificata la proprietà transform*/
  overflow: hidden; /* Per non mostrare lo sbordamento degli elementi li quando si ingrandiscono su hover */
}

.sidebar.hidden {
  transform: translateX(-100%); /* Quando è hidden è spostata fuori dallo schermo */
}

.sidebar:not(.hidden) {
  transform: translateX(0); /* Quando non è hidden è all'interno dello schermo */
}

/* Aggiungo margine al main quando la sidebar non è hidden */
.sidebar:not(.hidden) ~ main {
  margin-left: var(--sidebar-width); /* Il margine è grande quanto la sidebar */
}

main {
  transition: margin-left 0.3s ease; /* Animazione alla modifica del margine del main */
}

/*Bottoni sidebar */
.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 25px;
  height: 25px;
  padding: 0;
}

.sidebar .btn {
  margin-left: 1rem;
  margin-top: 0.7rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 25px;
  height: 25px;
  padding: 0;
}

.icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#open_sidebar {
  position: absolute;
  top: 10px;
  left: 10px;
}

/* nav interna alla sidebar */
nav {
  display: flex;
  flex-direction: column;
  justify-content: top;
  height: 100%;
}

nav ul {
  padding: 0;
  font-size: 2rem;
  text-align: center;
  list-style: none;
}

nav ul li {
  margin-top: 1rem;
  margin-bottom: 1rem;
  transition: transform 0.2s ease-in-out;
}

nav ul li:hover {
  transform: scale(1.1);
  max-width: 100%;
  background: rgba(255, 255, 255, 0.2);
}

nav ul li a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: white;
}

nav ul li a:hover {
  color: white;
  display: block;
  transition: background 0.3s;
}

/* Sfondo */

.background {
  background-position: center;
  background-size: contain;
  
  background-color: #a7a7ff;
  background-image:  radial-gradient(#767df8 0.9px, transparent 0.9px), radial-gradient(#767df8 0.9px, #a7a7ff 0.9px);
  background-size: 36px 36px;
  background-position: 0 0,18px 18px;
 }

/* Responsiveness */
@media screen and (max-width: 600px) {
  
  /* La sidebar deve coprire tutto lo schermo */
  .sidebar {
    width: 100%;
    background-color: var(--sidebar-bg-color-mobile);
  }
  
  /* Sovrascrivo la regola che crea il margine all'apertura della sidebar */
  .sidebar:not(.hidden) ~ main {
    margin-left: 0 !important;
  }
}

/* footer */
footer {
  display: flex;
  justify-content: flex-end;
}

footer p {
  margin-right: 1vw;
  font-size: clamp(5px, 1.5vw, 15px);
}

/* classe generica per nascondere elementi */
.hidden:not(.sidebar) {
  display: none;
}