/** variabili */

:root {
  --primary-color: rgb(34, 34, 34);
  --secondary-color: rgb(204, 204, 204);
  --error-color: rgb(255, 174, 174);
  --error-color-accent: rgb(255, 68, 68);
  --background-color: rgb(248, 248, 248);
  --text-color: rgba(0, 0, 0, 0.8);
  --input-border-color: var(--secondary-color);
  --input-border-focused-color: #222;
  --input-border-error-color: var(--error-color);
  --input-border-error-focused-color: var(--error-color-accent);
  --input-bg-color: transparent;
  --login-bg-color: white;
  --box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  --border-radius: 5px;
  --font-family: sans-serif;
  --font-size: 1.5rem;
  --input-font-size: 1.25rem;
  --space-s: 0.5rem;
  --space-m: 0.75rem;
  --space-l: 1rem;
  --space-xl: 1.5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  font-family: var(--font-family);
  padding: 0 var(--space-l);
}

/** Sign up/Sign in form */

.form__box {
  padding: var(--space-m) var(--space-l);
  max-width: 30rem;
  width: 25rem;
  height: auto;
  font-size: var(--font-size);
  font-weight: bold;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  color: var(--text-color);
  background-color: var(--login-bg-color);
}

.form__box p {
  margin: var(--space-s) 0;
}

.form__box form {
  display: flex;
  /* height: 13rem; */
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.form__box form input {
  padding: var(--space-m);
  margin-top: var(--space-s);
  height: 3rem;
  font-size: var(--input-font-size);
  font-weight: bold;
  background-color: var(--input-bg-color);
  border: 2px solid var(--input-border-color);
  border-radius: var(--border-radius);
  outline: none;
}

.form__box form input.error {
  border: 2px solid var(--input-border-error-color);
}

.form__box form input:not(input[type="submit"]) {
  margin-bottom: var(--space-s);
}

.form__box form input:focus {
  border-color: var(--input-border-focused-color);
}

.form__box form input.error:focus {
  border-color: var(--input-border-error-focused-color);
}

.form__box form input[type="submit"] {
  border: none;
  background: var(--primary-color);
  color: white;
  cursor: pointer;
  transition: background 0.3s;
}

.form__box form input[type="submit"]:hover {
  background: #444;
}

/*Creazione checkbox personalizzata*/
/*Nasconde la checkbox originale*/
.form__box form input[type="checkbox"] {
  display: none;
}
/*Allinea l'intera label che contiene la checkbox*/
.customCheckboxContainer {
  position: relative;
  margin: 5px 0;
  display: flex;
  font-size: 1rem;
  /* align-self: right; */
  justify-content: start;
  align-items: center;
}
/*Visualizzazione dello span che simula la nuova checkbox*/
/*Stile della checkbox attiva*/
.customCheckbox {
  position: relative;
  width: 20px;
  height: 20px;
  background-color: var(--background-color);
  border: 2px solid var(--input-border-color);
  border-radius: 4px;
  margin-right: 10px;
}
/*Stile della checkbox attiva in errore*/
.customCheckbox.error {
  background-color: var(--background-color);
  border: 2px solid var(--input-border-error-color);
}
/*Stile della checkbox attiva in errore*/
.customCheckbox.error {
  background-color: var(--background-color);
  border: 2px solid var(--input-border-error-color);
}
/*Stile della checkbox disabilitata*/
.customCheckboxContainer input:disabled + .customCheckbox {
  /* background-color: #cccccc69;
     border: 2px solid #ccccccd5; */
  background-color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
}
/*Stile della checkbox disabilitata in errore*/
.customCheckboxContainer input:disabled + .customCheckbox.error {
  background-color: var(--error-color);
  border: 2px solid var(--input-border-error-color);
}

/*Stile dello sfondo della checkbox selezionata*/
.customCheckboxContainer input:checked + .customCheckbox {
  background-color: var(--input-border-color);
  border: 2px solid var(--input-border-color);
}
/*Segno di spunta*/
.customCheckboxContainer input:checked + .customCheckbox:after {
  content: "";
  position: absolute;
  /*color: var(--background-color);*/
  left: 4.5px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid var(--background-color);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
} /*Fine checkbox personalizzata*/

.form__box ul {
  margin: var(--space-l) var(--space-s) var(--space-s) var(--space-s);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  font-size: 0.875rem;
}

.form__box ul li a {
  display: inline-block;
}

.capitalize {
  text-transform: capitalize;
}

/** local variables */
/*
Local Variables:
outline-regexp: "^/\\*\\*+"
eval: (outline-minor-mode 1)
eval: (outline-hide-sublevels 3)
End:
*/
