main h1 {
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: clamp(30px, 5vw, 45px);
  color: rgb(0, 0, 0);
}

main h2 {
  text-align: center;
  display: flex;
  align-self: center;
  margin-top: 0px;
  text-wrap: stable;
  color: #000000;
  /*text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);*/
  font-size: clamp(3px, 4vw, 25px);
}

ul{
  list-style-type: none;
}

#indexMain {
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

#homepageUserList a {
  color: rgb(0, 0, 0);
  text-decoration:underline;
  transition: color 0.3s;
}

#homepageUserList a:hover {
  color: rgba(0, 0, 0, 0.562); 
}

@media screen and (max-width: 400px) {
  main {
    height: 100%;
  }
  
}