/** variabili */

:root {
  --primary-color: rgb(34, 34, 34);
  --secondary-color: rgb(204, 204, 204);
  --background-color: rgb(248, 248, 248);
  --text-color: rgba(0, 0, 0, 0.8);
  
  /* spaziatura */
  --space-s: 0.5rem;
  --space-m: 0.75rem;
  --space-l: 1rem;
  --space-xl: 1.5rem;
  
  /* tipografia */
  --font-family: sans-serif;
  --font-size: 1.5rem;
  --input-font-size: 1.25rem;
}

/**  **/

header {
  display: flex;
  height: 3rem;
  padding: 1rem;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

header a {
  margin-left: 0.5rem;
  margin-right: 1rem;
}

main h1 {
  text-align: center;
  text-wrap: stable;
  color: #000000;
  /*text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);*/
  font-size: clamp(20px, 3vw, 48px);
  z-index: 1;
}

@media screen and (max-width: 400px) {
  main {
    height: 100%;
  }
}

/** form */

form {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  gap: 0.5rem;
}

@media screen and (min-width: 940px) {
  form {
    grid-template-columns: repeat(3, minmax(200px, 400px));
    align-content: center;
    justify-content: center;
  }
  
  form input[type="submit"] {
    grid-column-start: 2;
    grid-column-end: 2;
  }
}

/* lista dei libri */
#booksList {
  list-style-type: none;
  font-weight: bolder;
}

/* singolo elemento della lista dei libri (figlio #booksList) */
.bookListEntry {
  margin-bottom: 10px;
  
}

.bookContainer /* singolo elemento contenuto nell'elemento della lista dei libri (figlio .bookListEntry) */ {
  display: flex;
  align-items: center;
}

/* immagine di copertina del singolo libro (primo figlio di .bookContainer) */

.coverImageContainer {
  max-width: 30%;
}

.coverImage /* figlio di .coverImageContainer */ {
  aspect-ratio: 2/3 !important;
  width: 100%;
  height: auto;
}

/* informazioni testuali del singolo libro (secondo figlio di .bookContainer) */
.bookInfoContainer {
  margin-left: 10px;
}

/* bottone associato al singolo libro (terzo figlio di .bookContainer) */
.removeBookButton {
  margin-left: 10px;
}