:root {
  --success-color: hsla(120, 77%, 32%, 0.9);
  --error-color-accent: hsla(0, 100%, 63%, 0.9);
  --error-color: hsla(0, 100%, 84%, 1);
  --message-color: hsla(0, 0%, 0%, 0.9);
}

.notice {
  position: absolute;
  top: 2rem;
  right: 1rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25rem;
  height: 4rem;
  background-color: rgba(255, 255, 255, 0.683);
  color: #000;
  border-style: solid;
  border-left-width: 0.75em;
  transform: translateX(150%);
}

.notice.message {
  justify-content: flex-end;
}

.notice.message a {
  padding-left: 0.5rem;
}

.notice.fixed {
  position: fixed;
}

.notice p {
  margin-right: 3rem;
}

.notice.success {
  border-color: var(--success-color);
}

.notice.error {
  border-color: var(--error-color-accent);
}

.notice.message {
  border-color: var(--message-color);
}

.notice.success::before {
  content: "✔";
  color: var(--success-color);
}

/* .notice.success::before {
    content: "!";
    color: var(--message-color);
  } */

.notice.error::before {
  content: "❌";
  color: var(--error-color-accent);
}

.notice.fade_in {
  transform: translateX(0);
}
